body {
    background-color: rgb(10, 10, 10);
    margin: 0;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.2s;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(6, 6, 6, 0);
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: linear-gradient(to bottom,
    rgb(40, 40, 40), rgb(35, 35, 35), rgb(30, 30, 30), 
    rgb(25, 25, 25), rgb(20, 20, 20));
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom,
    rgb(45, 45, 45), rgb(40, 40, 40), rgb(35, 35, 35), 
    rgb(30, 30, 30), rgb(25, 25, 25));
}

button {
    color: rgb(50, 220, 50);
    font-weight: 600;
    font-size: 100%;
    border: 1px solid rgb(50, 220, 50);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: rgba(50, 220, 50, 0);
    box-shadow: 0px 0px 5px 1px rgb(50, 220, 50, 0.7);
    transition: all 0.4s;
}

button:hover {
    color: white;
    background-color: rgb(50, 220, 50);
    box-shadow: 0px 0px 8px 1px rgb(50, 220, 50);
}

.squareBt {
    border-radius: 9px;
}

.squareBt.dark {
    color: rgb(100, 50, 220);
    font-weight: 600;
    font-size: 100%;
    border: 1px solid rgb(100, 50, 220);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: rgba(101, 50, 220, 0);
    box-shadow: 0px 0px 5px 1px rgb(100, 50, 220, 0.7);
    transition: all 0.4s;
}

.squareBt.dark:hover {
    color: white;
    background-color: rgb(100, 50, 220);
    box-shadow: 0px 0px 8px 1px rgb(100, 50, 220);
}

.circleBt {
    border-radius: 100%;
}

.circleBt.dark {
    color: rgb(100, 50, 220);
    font-weight: 600;
    font-size: 100%;
    border: 1px solid rgb(100, 50, 220);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: rgba(101, 50, 220, 0);
    box-shadow: 0px 0px 5px 1px rgb(100, 50, 220, 0.7);
    transition: all 0.4s;
}

.circleBt.dark:hover {
    color: white;
    background-color: rgb(100, 50, 220);
    box-shadow: 0px 0px 8px 1px rgb(100, 50, 220);
}

.Place {
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 4;
}

.PL1 {
    height: 1080px;
    background-color: rgb(220, 220, 220);
    transition: all 0.4s;
}

.PL1.dark {
    background-color: rgb(20, 20, 20);
}

.OCbt {
    position: absolute;
    top: 8%;
    left: -1px;
    height: 56px;
    width: 56px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 180%;
    transition: all 0.4s;
}

.OCbt.dark {
    color: rgb(100, 50, 220);
    border: 1px solid rgb(100, 50, 220);
    background-color: rgba(100, 50, 220, 0);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 180%;
    box-shadow: 0px 0px 5px 1px rgb(100, 50, 220, 0.7);
    transition: all 0.4s;
}

.OCbt.dark:hover {
    color: black;
    background-color: rgb(100, 50, 220);
    box-shadow: 0px 0px 8px 1px rgb(100, 50, 220);
}

.OCbt.cl {
    left: -70px;
}

.PersonBody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 0%;
    left: -100%;
    height: 100%;
    width: 100%;
    padding-top: 3%;
    backdrop-filter: blur(5px);
    overflow-y: scroll;
    opacity: 0;
    transition: 0.6s;
}

.PersonBody.cl {
    left: 0%;
    opacity: 1;
    transition: 0.8s;
}

.Person {
    margin: 0 20px 50px;
    position: relative;
    height: 420px;
    width: 560px;
    border: 1px solid black;
    border-radius: 20px;
    filter: brightness(60%);
    box-shadow: 0px 0px 0px 0px rgb(0, 0, 0);
    background-size: 200%;
    text-align: center;
    font-size: 160%;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.4s;
}

.Person:hover {
    box-shadow: 4px 4px 0px 0px rgb(50, 220, 50);
    transform: translate(0px, -2%) scale(101%);
    filter: brightness(100%);
}

.Person.dark {
    margin: 0 20px 50px;
    position: relative;
    height: 420px;
    width: 560px;
    border: 1px solid black;
    border-radius: 20px;
    filter: brightness(60%);
    box-shadow: 0px 0px 0px 0px rgb(0, 0, 0);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.4s;
}

.Person.dark:hover {
    box-shadow: 4px 4px 0px 0px rgb(100, 50, 220);
    transform: translate(0px, -2%) scale(101%);
    filter: brightness(100%);
}

.I1 {
    background-image: url(img/ArcWagner/2B.png);
}

.I2 {
    background-image: url(img/Vi/3B.png);
}

.I3 {
    background-image: url(img/YUN1/6B.png);
}

.I4 {
    background-image: url(img/Ruina/1B.png);
    background-size: 160%;
}

.I5 {
    background-image: url(img/Dead/1B.png);
}

.I6 {
    background-image: url(img/YounGGSalt/2B.png);
}

.InIMG {
    position: absolute;
    top: 50px;
    left: 50%;
    height: 180px;
    width: 180px;
    margin-top: -91px;
    margin-left: -91px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.4);
    border-radius: 100%;
    background-size: 140%;
    background-position: center;
    background-repeat: no-repeat;
}

.iI1 {
    background-image: url(img/ArcWagner/2.png);
}

.iI2 {
    background-image: url(img/Vi/3.png);
}

.iI3 {
    background-image: url(img/YUN1/6.png);
}

.iI4 {
    background-image: url(img/Ruina/1.png);
}

.iI5 {
    background-image: url(img/Dead/1.png);
}

.iI6 {
    background-image: url(img/YounGGSalt/2.png);
}

.Cbt {
    position: absolute;
    top: -40px;
    right: 5px;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    z-index: 2;
    color: black;
    font-size: 300%;
    border: none;
    box-shadow: none;
    border-radius: 100%;
    opacity: 0;
}

.Cbt:hover {
    color: black;
    opacity: 1;
    border: none;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
}

.Cbt:active {
    opacity: 0;
}

.Cbt.cl:hover {
    color: black;
    opacity: 1;
    border: none;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
}

.Cbt.cl:active {
    opacity: 0;
}

.Cbt.cl {
    top: 40px;
    opacity: 0.6;
}

.NetWorks {
    position: absolute;
    top: 15%;
    left: -1px;
    height: 56px;
    width: 56px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 180%;
    transition: all 0.4s;
}

.NetWorks.dark {
    color: rgb(100, 50, 220);
    border: 1px solid rgb(100, 50, 220);
    background-color: rgba(100, 50, 220, 0);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 180%;
    box-shadow: 0px 0px 5px 1px rgb(100, 50, 220, 0.7);
    transition: all 0.4s;
}

.NetWorks.dark:hover {
    color: black;
    background-color: rgb(100, 50, 220);
    box-shadow: 0px 0px 8px 1px rgb(100, 50, 220);
}

.Theme {
    position: absolute;
    top: 22%;
    left: -1px;
    height: 56px;
    width: 56px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 180%;
    transition: all 0.4s;
}

.Theme.dark {
    color: rgb(100, 50, 220);
    border: 1px solid rgb(100, 50, 220);
    background-color: rgba(100, 50, 220, 0);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 180%;
    box-shadow: 0px 0px 5px 1px rgb(100, 50, 220, 0.7);
    transition: all 0.4s;
}

.Theme.dark:hover {
    color: black;
    background-color: rgb(100, 50, 220);
    box-shadow: 0px 0px 8px 1px rgb(100, 50, 220);
}

.Chat {
    position: absolute;
    top: 32%;
    left: -1px;
    height: 56px;
    width: 56px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 180%;
    transition: all 0.4s;
}

.Chat.dark {
    color: rgb(100, 50, 220);
    border: 1px solid rgb(100, 50, 220);
    background-color: rgba(100, 50, 220, 0);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 180%;
    box-shadow: 0px 0px 5px 1px rgb(100, 50, 220, 0.7);
    transition: all 0.4s;
}

.Chat.dark:hover {
    color: black;
    background-color: rgb(100, 50, 220);
    box-shadow: 0px 0px 8px 1px rgb(100, 50, 220);
}

.NWBody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    top: 95%;
    left: 50%;
    height: 60px;
    width: 240px;
    margin-top: -30px;
    margin-left: -120px;
    border: none;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 0, 0.5);
    opacity: 0;
    z-index: -2;
    transition: all 0.4s;
}

.NWBody.dark {
    position: fixed;
    top: 95%;
    left: 50%;
    height: 60px;
    width: 240px;
    margin-top: -30px;
    margin-left: -120px;
    border: none;
    border-radius: 5px;
    background-color: rgb(12, 12, 12);
    box-shadow: 0px 0px 30px 1px rgba(76, 0, 255, 0.5);
    opacity: 0;
    z-index: -2;
    transition: all 0.4s;
}

.NWBody.cl {
    opacity: 1;
    top: 90%;
    z-index: 5;
}

.underLine {
    position: relative;
    bottom: -54px;
    height: 6px;
    width: 100%;
    background-color: rgb(50, 220, 50);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    transition: all 0.4s;
}

.underLine.dark {
    position: relative;
    bottom: -54px;
    height: 6px;
    width: 100%;
    background-color: rgb(100, 50, 220);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.Name {
    position: relative;
    cursor: default;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    font-family: cursive;
    top: 25%;
}

.RoleDiv {
    position: absolute;
    top: 21%;
    left: 64%;
    height: 50px;
    width: 50px;
    margin-top: -25px;
    margin-left: -25px;
    text-align: center;
    border: 2px solid rgb(10, 10, 10);
    background-color: rgb(30, 30, 30);
    border-radius: 100%;
    transition: all 0.3s;
}

.RoleDiv:hover {
    color: rgb(50, 220, 50);
    border: 2px solid rgb(50, 220, 50);
}

.RoleDiv.dark:hover {
    color: rgb(100, 50, 220);
    border: 2px solid rgb(100, 50, 220);
}

.Role {
    position: relative;
    top: 3px;
}

.NWBT {
    font-size: 140%;
    margin: 0px 20px;
    position: absolute;
    top: 20%;
    height: 44px;
    width: 44px;
    margin-top: -22px;
    margin-left: -22px;
}

.NWBT:hover {
    color: white;
}

.NWBT.dark {
    color: rgb(100, 50, 220);
    border: 1px solid rgb(100, 50, 220);
    box-shadow: 0px 0px 30px 1px rgb(100, 50, 220, 0.7);
}

.NWBT.dark:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(100, 50, 220);
}

.DiscordBt {
    left: 25%;
}

.Bt1 {
    left: 50%;
}

.Bt2 {
    left: 75%;
}

#Hint {
    position: fixed;
    top: 100%;
    left: 50%;
    width: 220px;
    padding-top: 12px;
    margin-left: -90px;
    font-size: 110%;
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    background-color: rgb(50, 220, 50);
    backdrop-filter: blur(8px);
    box-shadow: 0px 0px 20px 1px rgb(50, 220, 50, 0.7);
    z-index: -2;
    padding-left: 10px;
    padding-right: 10px;
    cursor: default;
    font-weight: 600;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    font-family: cursive;
    transition: all 0.4s;
}

#Hint.dark {
    color: black;
    background-color: rgb(100, 50, 220);
    box-shadow: 0px 0px 20px 1px rgb(100, 50, 220, 0.7);
    opacity: 0;
    z-index: -2;
}

#Hint.cl {
    top: 80%;
    opacity: 0.8;
    z-index: 9999;
    transition: 0.4s;
}

.StartText {
    position: relative;
    text-align: center;
    font-size: 800%;
    font-weight: 900;
    top: 5%;
    left: 0%;
    font-family: cursive;
    text-transform: uppercase;
    background: linear-gradient(-45deg, 
    rgb(220, 220, 220), rgb(50, 220, 50, 0.7), rgb(220, 220, 220));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    animation: gradient 10s ease infinite;
    text-shadow: none;
    cursor: default;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    opacity: 0.6;
    transition: 0.4s;
}

.StartText.dark {
    position: relative;
    text-align: center;
    font-size: 800%;
    font-weight: 900;
    top: 5%;
    left: 0%;
    font-family: cursive;
    text-transform: uppercase;
    background: linear-gradient(-45deg, 
    rgb(20, 20, 20), rgb(76, 0, 255), rgb(20, 20, 20));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    animation: gradient 10s ease infinite;
    text-shadow: none;
    cursor: default;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    opacity: 0.6;
    transition: 0.4s;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.LoadingBody {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99;
    opacity: 1;
    background-color: rgb(20, 20, 20);
    transition: all 0.4s;
}

.LoadingBody.cl {
    z-index: -2;
    opacity: 0;
}

@keyframes ldio-2q21ypou2qn {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
}

.ldio-2q21ypou2qn div {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 10px solid #e7e7e7;
    border-top-color: transparent;
    border-radius: 50%;
}

.ldio-2q21ypou2qn div {
    animation: ldio-2q21ypou2qn 1s linear infinite;
    top: 50px;
    left: 50px
}

.loadingio-spinner-rolling-nw1f4kj3v3 {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    background: #00000000;
}

.ldio-2q21ypou2qn {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.ldio-2q21ypou2qn div {
    box-sizing: content-box;
}

.btn1 {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 5;
}

.nocopy {
    cursor: default;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.CCB {
    position: absolute;
    height: 1080px;
    width: 100%;
}

.CCR {
    position: relative;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
}

.CC {
    margin: 0px 20px;
    height: 48%;
    width: 30%;
    border-radius: 20px;
    border: none;
    background-color: rgba(15, 15, 15, 0.9);
    backdrop-filter: blur(8px);
}

.steamBt {
    position: absolute;
    top: 10%;
    left: 34%;
    height: 40px;
    width: 40px;
    margin-top: -20px;
    margin-left: -20px;
    text-align: center;
    border-radius: 100%;
    font-size: 110%;
}

.infoBt {
    position: absolute;
    top: 21%;
    left: 37%;
    height: 40px;
    width: 40px;
    margin-top: -20px;
    margin-left: -20px;
    text-align: center;
    border-radius: 100%;
    font-size: 110%;
}

.dataBt {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 120px;
    margin-left: -60px;
}

.ICON1 {
    color: green;
}

.ICON2 {
    color: yellow;
}

.ICON3 {
    color: red;
}

.fa-steam {
    position: relative;
    top: -53%;
    left: -177%;
}

.fa-info-circle {
    position: relative;
    top: -50%;
    left: -180%;
}

.modal-body {
    height: 400px;
}

.textarea {
    position: relative;
    top: 130px;
    left: 2%;
    height: 260px;
    width: 96%;
    margin-top: -130px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
    border: 2px solid rgb(220, 220, 220);
    color: rgb(55, 55, 55);
    resize: none;
    transition: 0.4s;
}

.textarea:focus {
    border: 2px solid rgb(20, 70, 220);
    transition: 0.4s;
}

.textarea.cl {
    border: 2px solid rgb(220, 20, 70);
    transition: 0.4s;
}

.textarea.cl1 {
    border: 2px solid rgb(70, 220, 20);
    transition: 0.4s;
}

.textarea-dark {
    background-color: rgb(20, 20, 20);
    border: 2px solid rgb(30, 30, 30);
    color: rgb(200, 200, 200);
}

.closeBt {
    position: absolute;
    top: 83%;
    left: 35%;
    width: 100px;
    margin-left: -50px;
}

.sendBt {
    position: absolute;
    top: 83%;
    left: 65%;
    width: 100px;
    margin-left: -50px;
}
