body {
    background-color: rgb(10, 10, 10);
    margin: 0;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.2s;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(6, 6, 6, 0);
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: linear-gradient(to bottom,
    rgb(40, 40, 40), rgb(35, 35, 35), rgb(30, 30, 30), 
    rgb(25, 25, 25), rgb(20, 20, 20));
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom,
    rgb(45, 45, 45), rgb(40, 40, 40), rgb(35, 35, 35), 
    rgb(30, 30, 30), rgb(25, 25, 25));
}

button {
    color: rgb(50, 220, 50);
    font-weight: 600;
    font-size: 100%;
    border: 1px solid rgb(50, 220, 50);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: rgba(50, 220, 50, 0);
    box-shadow: 0px 0px 5px 1px rgb(50, 220, 50, 0.7);
    transition: all 0.4s;
}

button:hover {
    color: white;
    background-color: rgb(50, 220, 50);
    box-shadow: 0px 0px 8px 1px rgb(50, 220, 50);
}

.squareBt {
    border-radius: 9px;
}

.squareBt.dark {
    color: rgb(100, 50, 220);
    font-weight: 600;
    font-size: 100%;
    border: 1px solid rgb(100, 50, 220);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: rgba(101, 50, 220, 0);
    box-shadow: 0px 0px 5px 1px rgb(100, 50, 220, 0.7);
    transition: all 0.4s;
}

.squareBt.dark:hover {
    color: white;
    background-color: rgb(100, 50, 220);
    box-shadow: 0px 0px 8px 1px rgb(100, 50, 220);
}

.circleBt {
    border-radius: 100%;
}

.circleBt.dark {
    color: rgb(100, 50, 220);
    font-weight: 600;
    font-size: 100%;
    border: 1px solid rgb(100, 50, 220);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: rgba(101, 50, 220, 0);
    box-shadow: 0px 0px 5px 1px rgb(100, 50, 220, 0.7);
    transition: all 0.4s;
}

.circleBt.dark:hover {
    color: white;
    background-color: rgb(100, 50, 220);
    box-shadow: 0px 0px 8px 1px rgb(100, 50, 220);
}

.Place {
    position: relative;
    overflow: hidden;
    height: 1080px;
    width: 100%;
    z-index: 4;
}

.PL1 {
    background-color: rgb(220, 220, 220);
    transition: all 0.4s;
}

.PL1.dark {
    background-color: rgb(20, 20, 20);
}

.OCbt {
    position: relative;
    top: 8%;
    left: -1px;
    height: 56px;
    width: 56px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 180%;
    transition: all 0.4s;
}

.OCbt.dark {
    color: rgb(100, 50, 220);
    border: 1px solid rgb(100, 50, 220);
    background-color: rgba(100, 50, 220, 0);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 180%;
    box-shadow: 0px 0px 5px 1px rgb(100, 50, 220, 0.7);
    transition: all 0.4s;
}

.OCbt.dark:hover {
    color: black;
    background-color: rgb(100, 50, 220);
    box-shadow: 0px 0px 8px 1px rgb(100, 50, 220);
}

.OCbt.cl {
    left: -70px;
}

.PersonBody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 0%;
    left: -100%;
    height: 100%;
    width: 100%;
    padding-top: 3%;
    backdrop-filter: blur(5px);
    overflow-y: scroll;
    opacity: 0;
    transition: 0.6s;
}

.PersonBody.cl {
    left: 0%;
    opacity: 1;
    transition: 0.8s;
}

.Person {
    margin: 0 20px 50px;
    position: relative;
    height: 420px;
    width: 560px;
    border: 1px solid black;
    border-radius: 20px;
    filter: brightness(60%);
    box-shadow: 0px 0px 0px 0px rgb(0, 0, 0);
    background-size: 200%;
    text-align: center;
    font-size: 160%;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.4s;
}

.Person:hover {
    box-shadow: 4px 4px 0px 0px rgb(50, 220, 50);
    transform: translate(0px, -2%) scale(101%);
    filter: brightness(100%);
}

.Person.dark {
    margin: 0 20px 50px;
    position: relative;
    height: 420px;
    width: 560px;
    border: 1px solid black;
    border-radius: 20px;
    filter: brightness(60%);
    box-shadow: 0px 0px 0px 0px rgb(0, 0, 0);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.4s;
}

.Person.dark:hover {
    box-shadow: 4px 4px 0px 0px rgb(100, 50, 220);
    transform: translate(0px, -2%) scale(101%);
    filter: brightness(100%);
}

.I1 {
    background-image: url(img/ArcWagner/2B.png);
}

.I2 {
    background-image: url(img/Vi/3B.png);
}

.I3 {
    background-image: url(img/YUN1/6B.png);
}

.I4 {
    background-image: url(img/BBG.png);
    background-size: 160%;
}

.I5 {
    background-image: url(img/Dead/1B.png);
}

.I6 {
    background-image: url(img/YounGGSalt/2B.png);
}

.InIMG {
    position: absolute;
    top: 50px;
    left: 50%;
    height: 180px;
    width: 180px;
    margin-top: -91px;
    margin-left: -91px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.4);
    border-radius: 100%;
    background-size: 140%;
    background-position: center;
    background-repeat: no-repeat;
}

.iI1 {
    background-image: url(img/ArcWagner/2.png);
}

.iI2 {
    background-image: url(img/Vi/3.png);
}

.iI3 {
    background-image: url(img/YUN1/6.png);
}

.iI4 {
    background-image: url(img/1x1.png);
    background-size: 100%;
}

.iI5 {
    background-image: url(img/Dead/1.png);
}

.iI6 {
    background-image: url(img/YounGGSalt/2.png);
}

.Cbt {
    position: absolute;
    top: -40px;
    right: 5px;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    z-index: 2;
    color: black;
    font-size: 300%;
    border: none;
    box-shadow: none;
    border-radius: 100%;
    opacity: 0;
}

.Cbt:hover {
    color: black;
    opacity: 1;
    border: none;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
}

.Cbt:active {
    opacity: 0;
}

.Cbt.cl:hover {
    color: black;
    opacity: 1;
    border: none;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
}

.Cbt.cl:active {
    opacity: 0;
}

.Cbt.cl {
    top: 40px;
    opacity: 0.6;
}

.NetWorks {
    position: relative;
    top: 15%;
    left: -61px;
    height: 56px;
    width: 56px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 180%;
    transition: all 0.4s;
}

.NetWorks.dark {
    color: rgb(100, 50, 220);
    border: 1px solid rgb(100, 50, 220);
    background-color: rgba(100, 50, 220, 0);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 180%;
    box-shadow: 0px 0px 5px 1px rgb(100, 50, 220, 0.7);
    transition: all 0.4s;
}

.NetWorks.dark:hover {
    color: black;
    background-color: rgb(100, 50, 220);
    box-shadow: 0px 0px 8px 1px rgb(100, 50, 220);
}

.Theme {
    position: relative;
    top: 22%;
    left: -121px;
    height: 56px;
    width: 56px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 180%;
    transition: all 0.4s;
}

.Theme.dark {
    color: rgb(100, 50, 220);
    border: 1px solid rgb(100, 50, 220);
    background-color: rgba(100, 50, 220, 0);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 180%;
    box-shadow: 0px 0px 5px 1px rgb(100, 50, 220, 0.7);
    transition: all 0.4s;
}

.Theme.dark:hover {
    color: black;
    background-color: rgb(100, 50, 220);
    box-shadow: 0px 0px 8px 1px rgb(100, 50, 220);
}

.NWBody {
    position: fixed;
    top: 100%;
    left: 50%;
    height: 60px;
    width: 240px;
    margin-top: -30px;
    margin-left: -120px;
    border: none;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 0, 0.5);
    opacity: 0;
    z-index: -2;
    transition: all 0.4s;
}

.NWBody.dark {
    position: fixed;
    top: 100%;
    left: 50%;
    height: 60px;
    width: 240px;
    margin-top: -30px;
    margin-left: -120px;
    border: none;
    border-radius: 5px;
    background-color: rgb(12, 12, 12);
    box-shadow: 0px 0px 30px 1px rgba(76, 0, 255, 0.5);
    opacity: 0;
    z-index: -2;
    transition: all 0.4s;
}

.NWBody.cl {
    opacity: 1;
    top: 90%;
    z-index: 5;
}

.underLine {
    position: relative;
    bottom: -54px;
    height: 6px;
    width: 100%;
    background-color: rgb(50, 220, 50);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    transition: all 0.4s;
}

.underLine.dark {
    position: relative;
    bottom: -54px;
    height: 6px;
    width: 100%;
    background-color: rgb(100, 50, 220);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.Name {
    position: relative;
    top: 20%;
}

.RoleDiv {
    position: absolute;
    top: 21%;
    left: 64%;
    height: 50px;
    width: 50px;
    margin-top: -25px;
    margin-left: -25px;
    text-align: center;
    border: 2px solid rgb(10, 10, 10);
    background-color: rgb(30, 30, 30);
    border-radius: 100%;
}

.Role {
    position: relative;
    top: -25%;
}
